.App {
  margin-left: 67px;
  margin-right: 67px;
  margin-bottom: 67px;
  min-height: 400px;
}

.remove-btn {
  margin-right: 0.5rem;
}

#action-title {
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(252, 141, 141, 0.2);
  margin-bottom: 0.8em;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity:1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
}

.main-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  margin-top: 67px; 
  color: #000000;
  text-decoration: none;
}

.main-title a {
  color: inherit;
  text-decoration: none;
}

.sub-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #ABAFB6;
  margin-top: 27px;
}

#bread-crumbs {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 56px;
}

.gift-cards-container {
  margin: 0 auto;
}

/* .gift-cards-container {
  height: 500px;
} */

/* .gift-cards-container h4 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
} */

#footer-container { 
  position: relative;
  background: #000000;
  color: #FFFFFF;
  height: 327px;
  width: '100%';
  padding-top: 45px;  
}

.footer-col {
  text-align: left;
}

.footer-col ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

.footer-col ul li {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.928571px;
  color: #FFFFFF;   
  margin-bottom: 13px;
}

#footer-container a {
  color: inherit;
}

.footer-header {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.928571px;
  color: #FFFFFF;  
}

.footer-logo-text {
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
}

.footer-logo {
  width: 50px;
  margin: auto;
}

.footer-logo img {
  width: 100%;
}

.footer-copy-right { 
  position: relative;
  bottom: -100px;
  text-align: center;
  align-content: center;
}

.footer-copy-right p { 
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.928571px;
  color: #FFFFFF;
}

.footer-social-logos {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: center;
}

.footer-social-logos img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.gift-cards-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3em;
}

.gift-cards-item {
  width: 232px;
  height: 252px;
  margin: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 23px; 
}

.gift-cards-item:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}
.gift-cards-item img { 
  display: block; 
  margin: 0 auto;
  position: relative;
  top: 20%;
  /* width: 151px; */
  height: 150px; 
}

/* Card before checkout */

.hero-image-container {
  position: relative;
  display: block;
  background: #EEEEEE; 
  height: 651px;
}


.hero-image-container img {
  position: absolute;
  width: 341px;
  height: 471.61px;
  left: 22%;
  top: 14%;
}

.main-button {
  width: 216px;
  height: 46px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background-color:#0084FF;;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  color: #FFFFFF;
}

.form-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-left: 50px; 
  margin-top: 15px;
}

.form-inner label {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;  
  margin-right: 23px;
}

.form-inner select {
  width: 188.22px;
  height: 32px; 
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 17px;
}
 
.form-inner input[type=text] { 
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 6px;  
}

.form-inner input[type=number] {
  width: 87.81px;
  height: 32px; 
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 17px;
  padding-left: 14px;
}

.form-inner textarea {
  width: 278.81px;
  height: 62px; 
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 10px; 
  padding-left: 14px;
}

.form-group {
  margin-bottom: 24px;
}

.form-group #message-label {
  position: relative;
  bottom: 30px;
}

.form-group button {
  width: 58px;
  height: 36px; 
  border: 1px solid #C4C4C4; 
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 17px;
  text-align: center;
}

.form-group #to {
  width: 280.37px;
  height: 32px;
  margin-left: 53px;
  padding-left: 14px;
}

.form-group #from {
  width: 278.37px;
  height: 32px;
  margin-left: 35px;
  padding-left: 14px;
}  

.form-inner .main-button { 
  margin-top: 30px; 
}

/* Confirmation page */

.confirmation-container .title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  color: #000000;
}

.purchase-confirmation-box { 
  height: 400px;   
  margin-right: 93px;
}

.purchase-confirmation-box .hero-container {
  position: relative;
  width: 100%;
  height: 178.16px; 
  background: #EEEEEE;
}

.purchase-confirmation-box .hero-container img {
    position: absolute;
    width: 93.32px;
    height: 129.06px;
    left: 26%;
    top: 13%;
}

.purchase-confirmation-box .title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 15px;
  color: #000000;
}

.success-container .title {
  margin-top: 98px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.success-container .sub-title{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 34px;
  margin-bottom: 57px;
}

.success-container .box {
  text-align: center;
  margin: auto;
}

.success-container .box h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;

}

.success-container .box-inner { 
    position: relative;  
    width: 367px;
    height: 367px;  
    border: 1px solid #EEEEEE;
    box-sizing: border-box; 
    margin-bottom: 55px;
}

.success-container .box-inner p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 19px; 
  color: #000000;
}

.success-container .box-inner .hero-container {
  width: 185px;
  height: 185px;   
  background: #EEEEEE;
  margin: auto;  
}

.success-container .box-inner img {
  width: 100%; 
  height: 100%;
}

.success-container button{ 
  background: #0084FF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px; 
  height: 46px;
  width: 216px;
  color: #FFFFFF;  
}

.order-details-box {
  margin-top: 25px; 
  width: 100%;
  height: 301px; 
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
}

.order-details-box .header-title {
  margin: 23px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.table-box-left {
  margin: 23px;
}

.table-box-right .table-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
 

.table-box-right .value {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px; 
  padding-left: 20px;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.table-box-left .table-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.table-box-left .value{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;  
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.5);
}

.table-box-left table {
  width: 100%; 
}

.table-box-left table th {   
  text-align: left;
} 

.table-box-left table td{
  padding-top: 15px; 
}

.table-box-right table td {
  padding-bottom: 15px; 
}
